#container{
    width: 800px;
    margin: 0 auto;
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
}

h1{
    margin: 0;
    margin-bottom: 20px;
    text-align: center;

}
#catimg{
    height: 200px;
}
.imagenes-1{
    padding: 20px;
    margin: 20px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.imagenes-2{
    justify-content: space-between;
    padding: 40px;
    background-color: #c49faa;
}

.imagenes-3{
    padding: 20px;
    background-color: white;
}

p{
    text-align: center;
}